{% extends "/logopass.html" %}

{% from "elements.html" import input_macro, btn_group_macro %}
{% from "/login/macro.html" import logopass_macro %}

{% block title %}
Изменить пароль
{% endblock %}

{% block header %}
<h3>Изменить пароль</h3>
{% endblock %}

{% block form %}
<form class="form form-check" role="form" method="post" id="login-form" name="login-form" action="{{ url_for('route.post_login', action='update') }}">
  {{ logopass_macro() }}
  <div class="mb-3">
    {{ input_macro("new_pswd", "Новый пароль", "password", true) }}
  </div>
  <div class="mb-3">
  {{ input_macro("conf_pswd", "Повтор пароля", "password", true) }}
  </div>
  <div class="row mb-2">
    <a
      class="link-primary text-start mb-2"
      href="/login"
    >
      Отмена
  </a>
  </div>
  {{ btn_group_macro() }}
</form>
{% endblock %}
