{% from "macros.html" import input_macro, btn_group_macro %}

{% extends "base.html" %}

{% block title %}
Вход в систему
{% endblock %}

{% block body %}
<div class="container pt-5">
  <div class="text-opacity-85" class="text-danger py-3">
    <h3>StaffSec - кадровая безопасность</h3>
  </div>
  <div class="border border-primary rounded p-5">
    <div class="text-opacity-85" class="text-primary mb-3 text-center">
      <h3>Вход в систему</h3>
    </div>
    <form class="form form-check" role="form" method="post" action="{{ url_for('route.post_login', action='create') }}">
      <div class="mb-3">
        {{ input_macro("login", "Логин", "text", true) }}
      </div>
      <div class="input-group mb-3">
        {{ input_macro("password", "Пароль", "password", true) }}
        <button
          class="btn btn-outline-primary"
          type="button"
          @onclick="showPswd"
        >
          <i class="bi bi-eye" id="eye"></i>
        </button>
      </div>
      <div id="change_pswd d-none">
        <div class="mb-3">
          {{ input_macro("new_pswd", "Новый пароль", "password", true) }}
        </div>
        <div class="mb-3">
          {{ input_macro("conf_pswd", "Повтор пароля", "password", true) }}
        </div>
      </div>
      <div class="row mb-3 col-lg-9">
        <button
          class="btn btn-link mb-2"
          @onclick="changePswd"
        >
          Изменить пароль
      </button>
      </div>
      {{ btn_group_macro("Войти", "submit_login", "Очистить", "reset_login", "Отмена", "cancel_login") }}
    </form>
  </div>
</div>

<script>
function showPswd() {
  const eye = document.getElementById("eye");
  const [password, new_pswd, conf_pswd] = document.forms["login"].querySelectorAll("input[type='password']");
  if (eye.classList.toggle("bi-eye-slash")) {
    [password, new_pswd, conf_pswd].forEach(el => el.type = "text");
  } else {
    [password, new_pswd, conf_pswd].forEach(el => el.type = "password");
  }
}

function changePswd() {
  document.getElementById("change_pswd").classList.toggle("d-none");
  const action = document.forms["login"].action;
  console.log(action);
  action.replace("/api/login/create", "/api/login/update");
}
</script>

<style type="text/css">
  .container {
    justify-content: center;
    align-items: center;
    width: fit-content;
  }
</style>
{% endblock %}
