{% extends "base.html" %}

{% from "macros.html" import input_macro %}

{% block title %}
Вход в систему
{% endblock %}

{% block body %}
<div class="container">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="py-3">
      {% for message, category in messages %}
      <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
    </div>
  {% endif %}
  {% endwith %}
  <div class="text-opacity-85 text-danger py-3">
    <h3>StaffSec - кадровая безопасность</h3>
  </div>
  <div class="border border-danger rounded p-5">
    <div class="text-opacity-85 text-primary p-3">
        {% block header %}{% endblock %}
    </div>
    <div class="row mb-3">
      {% block form %}{% endblock %}
    </div>
  </div>
</div>

<script>
function showPswd() {
  const elements = [document.getElementById("password"), document.getElementById("new_pswd"), document.getElementById("conf_pswd")];
  const eye = document.getElementById("eye");
  eye.classList.toggle("bi-eye-slash");
  elements.forEach(el => {
    if (el) {
      el.type = eye.classList.contains("bi-eye-slash") ? "text" : "password";
    }
  });
}
</script>

<style type="text/css">
  .container {
    width: fit-content;
  }
</style>
{% endblock %}
