{% from "macros.html" import btn_group_macro %}

{% from "/login/macro.html" import logopass_macro %}

{% extends "/logopass.html" %}

{% block title %}
Вход в систему
{% endblock %}

{% block header %}
<h3>Вход в систему</h3>
{% endblock %}

{% block form %}
<form class="form form-check" role="form" method="post" id="login-form" name="login-form" action="{{ url_for('route.post_login', action='create') }}">
  {{ logopass_macro() }}
  <div class="row mb-2">
    <a
      class="link-primary text-start mb-2"
      href="/password"
    >
      Изменить пароль
  </a>
  </div>
  {{ btn_group_macro("Войти", "submit_login", "Очистить", "reset_login", "Отмена", "cancel_login") }}
</form>
{% endblock %}
