{% from "macros.html" import input_macro, btn_group_macro %}

{% extends "/login/logopass.html" %}

{% block title %}
Изменить пароль
{% endblock %}

{% block header %}
<h3>Изменить пароль</h3>
{% endblock %}

{% block form %}
<form class="form form-check" role="form" method="post" id="login-form" name="login-form" action="{{ url_for('route.post_login', action='update') }}">
  <div class="input-group mb-3">
    {{ input_macro("new_pswd", "Новый пароль", "password", true) }}
    <button
      class="btn btn-outline-secondary"
      type="button"
      onclick=showPswd()
    >
      <i class="bi bi-eye" id="eye"></i>
    </button>
  </div>
  <div class="mb-3">
  {{ input_macro("conf_pswd", "Повтор пароля", "password", true) }}
  </div>
  <div class="row mb-2">
    <a
      class="link-primary text-start mb-2"
      href="/login"
    >
      Отмена
  </a>
  </div>
  {{ btn_group_macro("Войти", "submit_login", "Очистить", "reset_login", "Отмена", "cancel_login") }}
</form>

<script>
function showPswd() {
  const elements = [document.getElementById("new_pswd"), document.getElementById("conf_pswd")];
  const eye = document.getElementById("eye");
  eye.classList.toggle("bi-eye-slash");
  elements.forEach(el => el.type = eye.classList.contains("bi-eye-slash") ? "text" : "password");
}
</script>
{% endblock %}
