{% macro education_div_macro(id, educations = []) %}

{% from "elements.html" import label_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/education.html" import education_form_macro %}

{% call collapse_header_macro("education") %}
{{'Образование'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="education">
  {{ education_form_macro(id) }}
</div>
{% if educations %}
{% for education in educations %}

<div  class="card card-body mb-3">
  {% call label_macro("Тип образования") %}
  {{ education['view'] }}
  {% endcall %}

  {% call label_macro("Учебное заведение") %}
  {{ education['university'] }}
  {% endcall %}

  {% call label_macro("Год окончания") %}
  {{ education['finished'] }}
  {% endcall %}

  {% call label_macro("Специальность") %}
  {{ education['specialty'] }}
  {% endcall %}

  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro(
    "education" + education['id']|string, 
    "/api/delete/educations/" + education['id']|string, 
    )
  }}
  <div class="collapse card card-body mb-3" id={{"education" + education['id']|string}}>
    {{ education_form_macro(id, education) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
