{% macro inquiry_tab_macro(id, inquiries = []) %}

{% from "elements.html" import label_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/inquiry.html" import inquiry_form_macro %}

{% call collapse_header_macro("work") %}
{{'Добавить запись'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="work">
  {{ inquiry_form_macro(id) }}
</div>
{% if inquiries %}
{% for inquiry in inquiries %}

<div  class="card card-body mb-3">
  <p class="fs-5 fw-medium text-primary p-1">
    {{ "Запрос о сотруднике ID#" + (inquiry['id']|string) }}
  </p>
  {% call label_macro("Информация") %}
  {{ inquiry['info'] }}
  {% endcall %}

  {% call label_macro("Иннициатор") %}
  {{ inquiry['origins'] }}
  {% endcall %}

  {% call label_macro("Сотрудник") %}
  {{ inquiry['username'] }}
  {% endcall %}

  {% call label_macro("Дата записи") %}
  {{ inquiry['created'].strftime("%d.%m.%Y") }} 
  {% endcall %}
  
  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro(
    "inquiries" + inquiry['id']|string, 
    "/api/delete/inquiries/" + inquiry['id']|string, 
    "inquiries" + inquiry['id']|string, 
    "/api/file/inquiries/" + inquiry['id']|string
    )
  }}
  <div class="collapse card card-body mb-3" id={{"inquiry" + inquiry['id']|string}}>
    {{ inquiry_form_macro(id, inquiry) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
