{% macro poligraf_tab_macro(id, poligrafs = []) %}

{% from "elements.html" import label_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/poligraf.html" import poligraf_form_macro %}

{% call collapse_header_macro("work") %}
{{'Добавить запись'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="work">
  {{ poligraf_form_macro(id) }}
</div>
{% if poligrafs %}
{% for poligraf in poligrafs %}

<div  class="card card-body mb-3">
  <p class="fs-5 fw-medium text-primary p-1">
    {{ "Проверка на полиграфе ID#" + (inquiry['id']|string) }}
  </p>
  {% call label_macro("Тема проверки'") %}
  {{ poligraf['theme'] }}
  {% endcall %}

  {% call label_macro("Результат'") %}
  {{ poligraf['results'] }}
  {% endcall %}

  {% call label_macro("Сотрудник'") %}
  {{ poligraf['username'] }}
  {% endcall %}

  {% call label_macro("Дата записи'") %}
  {{ poligraf['created'].strftime("%d.%m.%Y") }}
  {% endcall %}

  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro(
    "poligraf" + poligraf['id']|string, 
    "/api/delete/poligrafs/" + poligraf['id']|string, 
    "poligraf" + poligraf['id']|string, 
    "/api/file/poligrafs/" + poligraf['id']|string
    )
  }}
  <div class="collapse card card-body mb-3" id={{"poligraf" + poligraf['id']|string}}>
    {{ poligraf_form_macro(id, poligraf) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
