{% macro check_tab_macro(checks = []) %}

{% from "macros.html" import label_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/check.html" import check_form_macro %}

{% call collapse_header_macro("work") %}
{{'Добавить запись'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="work">
  {{ check_form_macro() }}
</div>
{% if checks %}
{% for check in checks %}

<div  class="card card-body mb-3">
  <p class="fs-5 fw-medium text-primary p-1">
    {{ "Проверка кандидата ID#" + (inquiry['id']) }}
  </p>
  {% call label_macro("Проверка по местам работы'") %}
  {{ check['workplace'] }}
  {% endcall %}

  {% call label_macro("Проверка паспорта'") %}
  {{ check['document'] }}
  {% endcall %}

  {% call label_macro("Проверка ИНН'") %}
  {{ check['inn'] }}
  {% endcall %}

  {% call label_macro("Проверка задолженностей'") %}
  {{ check['debt'] }}
  {% endcall %}

  {% call label_macro("Проверка банкротства'") %}
  {{ check['bankruptcy'] }}
  {% endcall %}

  {% call label_macro("Проверка Кредитной истории'") %}
  {{ check['bki'] }}
  {% endcall %}

  {% call label_macro("Проверка судебных дел'") %}
  {{ check['courts'] }}
  {% endcall %}

  {% call label_macro("Проверка аффилированности'") %}
  {{ check['affilation'] }}
  {% endcall %}

  {% call label_macro("Проверка террористов'") %}
  {{ check['terrorist'] }}
  {% endcall %}

  {% call label_macro("Проверка в розыск'") %}
  {{ check['mvd'] }}
  {% endcall %}

  {% call label_macro("Проверка в открытых источниках'") %}
  {{ check['internet'] }}
  {% endcall %} 

  {% call label_macro("Проверка в Кронос'") %}
  {{ check['cronos'] }}
  {% endcall %}

  {% call label_macro("Комментарий'") %}
  {{ check['comment'] }}
  {% endcall %}
  
  {% call label_macro("Результат'") %}
  {{ check['conclusion'] }}
  {% endcall %}

  {% call label_macro("Сотрудник'") %}
  {{ check['username'] }}
  {% endcall %}

  {% call label_macro("Дата проверки'") %}
  {{ check['created'] }}
  {% endcall %}

  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro(
    "check" + check['id'], 
    "/api/delete/checks/" + check['id'], 
    "check" + check['id'], 
    "/api/file/checks/" + check['id']
    )
  }}
  <div class="collapse card card-body mb-3" id={{"check" + check['id']}}>
    {{ check_form_macro(check) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}


function createElement(jsonList: Array<Object>) {
  let divs = "";
  for (let json of jsonList) {
    let table = "";
    for (const [key, value] of Object.entries(json)) {
      table +=
        `<tr>` +
        `<td style="width:30%">${key}</td>` +
        (typeof value === "string"
          ? `<td>${value}</td>`
          : `<td>${createElement(value)}</td>`) +
        `</tr>`;
    }
    divs += `<table class="table table-sm table-striped text-break">${table}</table>`;
  }
  return divs;
}

const renderAdditional = (jsonString: string) => {
  try {
    const jsonList = JSON.parse(jsonString);
    return createElement(jsonList);
  } catch (e) {
    console.error(e);
    return null;
  }
};
        

        <LabelSlot
          v-if="item['addition']"
          class="d-print-none"
          :label="'Дополнительно'"
        >
          <button
            type="button"
            class="btn btn-link"
            data-bs-toggle="collapse"
            href="#clps_additional"
            role="button"
          >
            Информация
          </button>
        </LabelSlot>
        <div
          class="collapse card card-body"
          id="clps_additional"
          v-if="item['addition']"
          v-html="renderAdditional(item['addition'])"
        ></div>
