{% macro anketa_tab_macro(person = []) %}

{% from "profile/divs/resume.html" import resume_div_macro %}
{% from "profile/divs/staff.html" import staff_div_macro %}
{% from "profile/divs/work.html" import work_div_macro %}
{% from "profile/divs/educate.html" import educate_div_macro %}
{% from "profile/divs/affil.html" import affil_div_macro %}
{% from "profile/divs/prev.html" import prev_div_macro %}
{% from "profile/divs/relate.html" import relate_div_macro %}
{% from "profile/divs/address.html" import address_div_macro %}
{% from "profile/divs/contact.html" import contact_div_macro %}
{% from "profile/divs/docum.html" import docum_div_macro %}

{% set accordion = {
  'resume': ['Резюме', resume_div_macro(person['persons'])],
  'staffs': ['Должности', staff_div_macro(person['staffs'])],
  'works': ['Работа', work_div_macro(person['workplaces'])],
  'educates': ['Образование', educate_div_macro(person['educations'])],
  'affils': ['Аффилированные организации', affil_div_macro(person['affiliations'])],
  'prevs': ['Предыдущие имена', prev_div_macro(person['previous_names'])],
  'relates': ['Связи', relate_div_macro(person['relations'])],
  'address': ['Адреса', address_div_macro(person['addresses'])],
  'contacts': ['Контакты', contact_div_macro(person['contacts'])],
  'docums': ['Документы', docum_div_macro(person['documents'])],
} %}

<div class="accordion accordion-flush" id="person">
  {% for key, value in accordion.items() %}
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" :data-bs-target="'#' + key">
        {{ value[0] }}
      </button>
    </h2>
    <div :id="key" class="accordion-collapse collapse {{ 'show' if key == 'resume' }}" data-bs-parent="#person">
      <div class="accordion-body">
        {{ value[1] }}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endmacro %}
