{% macro investigation_tab_macro(id, investigations = []) %}

{% from "macros.html" import label_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/investigation.html" import investigation_form_macro %}

{% call collapse_header_macro("work") %}
{{'Добавить запись'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="work">
  {{ investigation_form_macro(id) }}
</div>
{% if investigations %}
{% for investigation in investigations %}

<div  class="card card-body mb-3">
  <p class="fs-5 fw-medium text-primary p-1">
    {{ "Расследование/проверка ID#" + (inquiry['id']|string) }}
  </p>
  {% call label_macro("Тема проверки'") %}
  {{ investigation['theme'] }}
  {% endcall %}

  {% call label_macro("Информация'") %}
  {{ investigation['info'] }}
  {% endcall %}

  {% call label_macro("Сотрудник'") %}
  {{ investigation['username'] }}
  {% endcall %}

  {% call label_macro("Дата проверки") %}
  {{ investigation['created'].strftime("%d.%m.%Y") }}
  {% endcall %}

  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro(
    "investigations" + investigation['id']|string, 
    "/api/delete/investigations/" + investigation['id']|string, 
    "investigations" + investigation['id']|string, 
    "/api/file/investigations/" + investigation['id']|string
    )
  }}
  <div class="collapse card card-body mb-3" id={{"investigations" + investigation['id']|string|string}}>
    {{ investigation_form_macro(id, investigation) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
