{% macro photo_card_macro(destination, id) %}

{% from "profile/forms/file.html" import file_form_macro %}

<div class="card mb-3" style="width: 16rem">
  <div
    class="card-img-container" style="position: relative; display: inline-block;"
  >
    <img
      src={{'/'.join([destination, 'image', 'image.jpg']) | safe}}
      style="width: 100%; height: auto"
      class="card-img-top"
      alt="Фото отсутствует"
    />
    <div
      v-show="
        photoCard.showPhoto &&
        stateAnketa.anketa.persons['user_id'] == stateUser.user.userId &&
        stateAnketa.anketa.persons['standing']
      "
      class="card-img-overlay"
    >
      {{ file_form_macro('image-file', '/api/file/image/' + id|string, '*.jpg, *.jpeg') }}
    </div>
  </div>
</div>

{% endmacro %}
