{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %}  Создать новую запись {% endblock %}</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message|safe }}</li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <hr>
    <form method="post" action="{{ url_for('upload', file='name') }}" enctype="multipart/form-data">
        <input type="file" name="file">
        <p><input type="submit" value="Загрузить"></p>
    </form>
    <hr>
    <div class="content">
        <form method="post">
            {{ form.hidden_tag() }}
            <table>
                <caption ><b>ПЕРСОНАЛЬНЫЕ ДАННЫЕ</b></caption>
                <tr><td>{{ form.full_name.label() }}</td><td>{{ form.full_name() }}</td></tr>
                <tr><td>{{ form.staff.label() }}</td><td>{{ form.staff() }}</td></tr>
                <tr><td>{{ form.department.label() }}</td><td>{{ form.department() }}</td></tr>
                <tr><td>{{ form.last_name.label() }}</td><td>{{ form.last_name() }}</td></tr>
                <tr><td>{{ form.birthday.label() }}</td><td>{{ form.birthday() }}</td></tr>
                <tr><td>{{ form.birth_place.label() }}</td><td>{{ form.birth_place() }}</td></tr>
                <tr><td>{{ form.country.label() }}</td><td>{{ form.country() }}</td></tr>
                <tr><td>{{ form.series_passport.label() }}</td><td>{{ form.series_passport() }}</td></tr>
                <tr><td>{{ form.number_passport.label() }}</td><td>{{ form.number_passport() }}</td></tr>
                <tr><td>{{ form.date_given.label() }}</td><td>{{ form.date_given() }}</td></tr>
                <tr><td>{{ form.snils.label() }}</td><td>{{ form.snils() }}</td></tr>
                <tr><td>{{ form.inn.label() }}</td><td>{{ form.inn() }}</td></tr>
                <tr><td>{{ form.reg_address.label() }}</td><td>{{ form.reg_address() }}</td></tr>
                <tr><td>{{ form.live_address.label() }}</td><td>{{ form.live_address() }}</td></tr>
                <tr><td>{{ form.phone.label() }}</td><td>{{ form.phone() }}</td></tr>
                <tr><td>{{ form.email.label() }}</td><td>{{ form.email() }}</td></tr>
                <tr><td>{{ form.education.label() }}</td><td>{{ form.education() }}</td></tr>
            </table>
            <hr>
            <table>
                <caption><b>РЕЗУЛЬТАТЫ ПРОВЕРКИ</b></caption>
                <tr><td>{{ form.check_work_place.label() }}</td><td>{{ form.check_work_place() }}</td></tr>
                <tr><td>{{ form.check_passport.label() }}</td><td>{{ form.check_passport() }}</td></tr>
                <tr><td>{{ form.check_debt.label() }}</td><td>{{ form.check_debt() }}</td></tr>
                <tr><td>{{ form.check_bankruptcy.label() }}</td><td>{{ form.check_bankruptcy() }}</td></tr>
                <tr><td>{{ form.check_bki.label() }}</td><td>{{ form.check_bki() }}</td></tr>
                <tr><td>{{ form.check_affiliation.label() }}</td><td>{{ form.check_affiliation() }}</td></tr>
                <tr><td>{{ form.check_internet.label() }}</td><td>{{ form.check_internet() }}</td></tr>
                <tr><td>{{ form.check_cronos.label() }}</td><td>{{ form.check_cronos() }}</td></tr>
                <tr><td>{{ form.check_cross.label() }}</td><td>{{ form.check_cross() }}</td></tr>
                <tr><td>{{ form.resume.label() }}</td><td>{{ form.resume() }}</td></tr>
                <tr><td>{{ form.officer.label() }}</td><td>{{ form.officer() }}</td></tr>
                <tr><td>{{ form.submit.label() }}</td><td>{{ form.submit() }}</td></tr>
            </table>
        </form>
    </div>
{% endblock %}