{% extends 'base.html' %}

{% block content %}
    <h1 style="width: 100%">
        {% block title %} Изменить данные кандидата ID {{ results[0].Candidate.id }} {% endblock %}
    </h1>
    <form method="post">
        {% for candidate, check, inquiry in results %}
        <table>
            <caption><b>ПЕРСОНАЛЬНЫЕ ДАННЫЕ</b></caption>
            <tbody>
                <tr>
                    <td><label for="full_name">Фамилия Имя Отчество</label></td>
                    <td><br><textarea name="full_name" rows="1" cols="100">{{ candidate.full_name }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="staff">Должность</label></td>
                    <td><br><textarea name="staff" rows="1" cols="100">{{ candidate.staff }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="department">Кластер/Блок</label></td>
                    <td><br><textarea name="department" rows="1" cols="100">{{ candidate.department }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="last_name">Предыдущие ФИО</label></td>
                    <td><br><textarea name="last_name" rows="1" cols="100">{{ candidate.last_name }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="birthday">Дата рождения</label></td>
                    <td><br><textarea name="birthday" rows="1" cols="100">{{ candidate.birthday }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="birth_place">Место рождения</label></td>
                    <td><br><textarea name="birth_place" rows="1" cols="100">{{ candidate.birth_place }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="country">Гражданство</label></td>
                    <td><br><textarea name="country" rows="1" cols="100">{{ candidate.country }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="series_passport">Серия паспорта</label></td>
                    <td><br><textarea name="series_passport" rows="1" cols="100">{{ candidate.series_passport }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="number_passport">Номер паспорта</label></td>
                    <td><br><textarea name="number_passport" rows="1" cols="100">{{ candidate.number_passport }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="date_given">Дата выдачи</label></td>
                    <td><br><textarea name="date_given" rows="1" cols="100">{{ candidate.date_given }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="snils">СНИЛС</label></td>
                    <td><br><textarea name="snils" rows="1" cols="100">{{ candidate.snils }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="inn">ИНН</label></td>
                    <td><br><textarea name="inn" rows="1" cols="100">{{ candidate.inn }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="reg_address">Адрес регистрации</label></td>
                    <td><br><textarea name="reg_address" rows="2" cols="100">{{ candidate.reg_address }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="live_address">Адрес проживания</label></td>
                    <td><br><textarea name="live_address" rows="2" cols="100">{{ candidate.live_address }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="phone">Телефон</label></td>
                    <td><br><textarea name="phone" rows="1" cols="100">{{ candidate.phone }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="email">Эл.почта</label></td>
                    <td><br><textarea name="email" rows="1" cols="100">{{ candidate.email }}</textarea></td>
                </tr>
                <tr>
                    <td><label for="education">Образование</label></td>
                    <td><br><textarea name="education" rows="2" cols="100">{{ candidate.education }}</textarea></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <table>
            <caption><b>РЕЗУЛЬТАТЫ ПРОВЕРКИ</b></caption>
            <tbody>
                <tr>
                    <td><label for="check_work_place">Проверка по месту работы</label></td>
                    <td><br><textarea name="check_work_place" placeholder="Проверка по месту работы (три места или три года)" rows="3" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_passport">Проверка паспорта</label></td>
                    <td><br><textarea name="check_passport" placeholder="Проверка паспорта" rows="1" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_debt">Проверка задолженностей</label></td>
                    <td><br><textarea name="check_debt" placeholder="Проверка задолженностей" rows="2" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_bankruptcy">Проверка банкротства</label></td>
                    <td><br><textarea name="check_bankruptcy" placeholder="Проверка банкротства" rows="2" cols="100"></textarea></td>
                </tr>
                <tr><td><label for="check_bki">Проверка кредитной истории</label></td>
                    <td><br><textarea name="check_bki" placeholder="Проверка кредитной истории" rows="2" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_affiliation">Проверка аффилированности</label></td>
                    <td><br><textarea name="check_affiliation" placeholder="Проверка аффилированности" rows="2" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_internet">Проверка по открытым источникам</label></td>
                    <td><br><textarea name="check_internet" placeholder="Проверка по месту работы" rows="2" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_cronos">Проверка Кронос</label></td>
                    <td><br><textarea name="check_cronos" placeholder="Проверка Кронос" rows="2" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="check_cross">Проверка Крос</label></td>
                    <td><br><textarea name="check_cross" placeholder="Проверка Крос" rows="2" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="resume">Результат проверки</label></td>
                    <td><br><textarea name="resume" placeholder="Результат проверки" rows="1" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="date_check">Дата проверки</label></td>
                    <td><br><textarea name="date_check" placeholder="Дата проверки" rows="1" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="officer">Сотрудник </label></td>
                    <td><br><textarea name="officer" placeholder="Фамилия  И.О." rows="1" cols="100"></textarea></td>
                </tr>
           </tbody>
        </table>
        <table>
            <caption><b>Запросы о работнике</b></caption>
            <tbody>
                <tr>
                    <td><label for="last_staff">Последняя должность</label></td>
                    <td><br><textarea name="last_staff" placeholder="Последняя должность" rows="1" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="period">Период работы</label></td>
                    <td><br><textarea name="period" placeholder="Период работы" rows="1" cols="100"></textarea></td>
                </tr>
                <tr>
                    <td><label for="info">Информация о работнике</label></td>
                    <td><br><textarea name="info" placeholder="Информация о работнике" rows="2" cols="100"></textarea></td>
                </tr>
                           <tr>
                    <td><label for="firm">Иннициатор запроса</label></td>
                    <td><br><textarea name="firm" placeholder="Иннициатор запроса" rows="1" cols="100"></textarea></td>
                </tr>
                           <tr>
                    <td><label for="date_inq">Дата запроса</label></td>
                    <td><br><textarea name="date_inq" placeholder="Дата запроса" rows="1" cols="100"></textarea></td>
                </tr>
            </tbody>
        </table>
        <hr>
        <p>
            <button type="submit"><b>Применить</b></button>
        </p>
        {% endfor %}
    </form>
{% endblock %}