{% extends 'base.html' %}

<h1 class="title">{% block title %} Кандидаты {% endblock %}</h1>
{% block content %}
<div class="content">
    <hr>
    <div class="search table">
        <form method="post" action="{{ url_for('search') }}">
            <table>
                <tr>
                    <td>{{ form.full_name.label}}</td><td>{{ form.full_name(size=60) }}</td>
                    <td>{{ form.birthday.label() }}</td><td>{{ form.birthday(size=40) }}</td>
                    <td>{{ form.submit() }}</td><td></td>
                </tr>
            </table>
        </form>
    </div>
    <hr>
    <div class="person table">
        <table style="width:100%">
            <tr>
                <th style="width:20%">Должность</th>
                <th style="width:20%">Фамилия Имя Отчество</th>
                <th style="width:20%">Дата рождения</th>
                <th style="width:20%">Результат проверки</th>
                <th style="width:20%">Дата проверки</th>
            </tr>
            {% for candidate, check in results %}
            <tr>
                <td style="text-align: center">{{ candidate.staff }}</td>
                <td style="text-align: center">
                    <form action="{{ url_for('profile', c_id=candidate.id) }}" method="post">
                        <a href="javascript:;" onclick="parentNode.submit();">{{ candidate.full_name }}</a>
                    </form>
                </td>
                <td style="text-align: center">{{ candidate.birthday }}</td>
                <td style="text-align: center">{{ check.resume }}</td>
                <td style="text-align: center">{{ check.date_check }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}