{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Информация {% endblock %}</h1>
<div class="content">
    <table style="width:80%">
        <thead><tr></tr>Отчет</tr></thead>
        {% for decision, count in results %}
        <tbody>
            <tr>
                <th style="width:80%">Решение</th>
                <th style="width:20%">Итого</th>
            </tr>
            <tr><td>Согласовано</td><td>{{ decision.count }}</td></tr>
            <tr><td>С комментарием</td><td>{{ decision.count }}</td></tr>
            <tr><td>Отказ</td><td>{{ decision.count }}</td></tr>
            <tr><td>Снят с проверки</td><td>{{ decision.count }}</td></tr>
        </tbody>
        {% endfor %}
    </table>
</div>
{% endblock %}