{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Анкета кандидата {% endblock %}</h1>
    <div class="content">
        <div class="person table">
            <table>
                <tr><th><b># {{ candidate.id }} {{ candidate.full_name }}</b></th></tr>
                <tr><td>Должность</td><td>{{ candidate.staff }}</td></tr>
                <tr><td>Кластер/Блок</td><td>{{ candidate.department }}</td></tr>
                <tr><td>Дата рождения</td><td>{{ candidate.birthday }}</td></tr>
                <tr><td>Место рождения</td><td>{{ candidate.birth_place }}</td></tr>
                <tr><td>Гражданство</td><td>{{ candidate.country }}</td></tr>
                <tr><td>Паспорт</td><td>серия {{ candidate.series_passport }}
                    номер {{ candidate.number_passport }} выдан {{ candidate.date_given }}</td></tr>
                <tr><td>СНИЛС</td><td>{{ candidate.snils }}</td></tr>
                <tr><td>ИНН</td><td>{{ candidate.inn }}</td></tr>
                <tr><td>Адрес регистрации</td><td>{{ candidate.reg_address }}</td></tr>
                <tr><td>Адрес проживания</td><td>{{ candidate.live_address }}</td></tr>
                <tr><td>Телефон</td><td>{{ candidate.phone }}</td></tr>
                <tr><td>e-mail</td><td>{{ candidate.email }}</td></tr>
                <tr><td>Образование</td><td>{{ candidate.education }}</td></tr>
            </table>
            <hr>
                <a href="{{ url_for('resume', cand_id=candidate.id) }}"><b>Редактировать анкету</b></a>
        </div>
        <div class="person table">
            <b>Результат проверки кандидата</b>
            {% for check in checks %}
            <table>
                <tr><td>ID</td><td>{{ check.id }}</td></tr>
                <tr><td>Проверка по местам работы</td><td>{{ check.check_work_place }}</td></tr>
                <tr><td>Проверка паспорта</td><td>{{ check.check_passport }}</td></tr>
                <tr><td>Проверка ФССП</td><td>{{ check.check_debt }}</td></tr>
                <tr><td>Проверка банкротства</td><td>{{ check.check_bankruptcy }}</td></tr>
                <tr><td>Проверка БКИ</td><td>{{ check.check_bki }}</td></tr>
                <tr><td>Проверка аффилированности</td><td>{{ check.check_affiliation }}</td></tr>
                <tr><td>Проверка в других источниках</td><td>{{ check.check_internet }}</td></tr>
                <tr><td>Проверка Кронос</td><td>{{ check.check_cronos }}</td></tr>
                <tr><td>Проверка Крос</td><td>{{ check.check_cross }}</td></tr>
                <tr><td>Результат проверки</td><td>{{ check.resume }}</td></tr>
                <tr><td>Дата проверки</td><td>{{ check.date_check }}</td></tr>
                <tr><td>Сотрудник СБ</td><td>{{ check.officer }}</td></tr>
            </table>
            <hr>
            {% endfor %}
            {% if checks|length > 0 %}
            <a href="{{ url_for('check', cand_id=candidate.id, check_id=checks[-1].id) }}"><b>Редактировать проверку</b></a>
            {% endif %}
            &nbsp
            <a href="{{ url_for('check', cand_id=candidate.id, check_id=0) }}"><b>Добавить проверку</b></a>
        </div>
        <div class="person table">
            <b>Запросы о работнике</b>
            {% for inqury in inquries %}
            <table>
                <tr><td>ID</td><td>{{ inqury.id }}</td></tr>
                <tr><td>Информация</td><td>{{ inqury.info }}</td></tr>
                <tr><td>Организация</td><td>{{ inqury.firm }}</td></tr>
                <tr><td>Дата запроса</td><td>{{ inqury.date_inq }}</td></tr>
            </table>
            <hr>
            {% endfor %}
            <a href="{{ url_for('inquiry', cand_id=candidate.id) }}"><b>Добавить информацию</b></a>
        </div>
        <div class="person table">
            <b>Инфо из реестра</b>
            {% for registr in registries %}
            <table>
                <tr><td>ID</td><td>{{ registr.id }}</td></tr>
                <tr><td>Отметки</td><td>{{ registr.checks }}</td></tr>
                <tr><td>Рекрутер</td><td>{{ registr.recruiter }}</td></tr>
                <tr><td>Решение</td><td>{{ registr.fin_decision }}</td></tr>
                <tr><td>Дата решения</td><td>{{ registr.final_date }}</td></tr>
                <tr><td>Материалы проверки</td><td><a href="{{ registr.url }}">Открыть</a></td></tr>
            </table>
            {% endfor %}
        </div>
    </div>
{% endblock %}