{% macro document_form_macro(id, document = {}) %}

{% from "elements.html.jinja" import label_macro, input_macro, select_macro, btn_group_macro %}
{% set options = ["Паспорт", "Загранпаспорт", "Другое"] %}

<form 
  class="form form-check" 
  hx-post="{{ url_for('route.post_item_id', item='documents', item_id=id) }}"
  hx-target="#documents"
  hx-trigger="submit"
  hx-swap="innerHTML"
>
  {{ input_macro("id", "id", type="hidden", value=document['id']) }}

  {% call label_macro("Вид документа*") %}
  {{ select_macro("view", options, required=true, value=document['view']) }}
  {% endcall %}

  {% call label_macro("Серия документа") %}
  {{ input_macro("series", "Серия документа*", value=document['series']) }}
  {% endcall %}

  {% call label_macro("Номер документа*") %}
  {{ input_macro("number", "Номер документа*", required=true, value=document['number']) }}
  {% endcall %}

  {% call label_macro("Кем выдан*") %}
  {{ input_macro("agency", "Кем выдан*", required=true, value=document['agency']) }}
  {% endcall %}

  {% call label_macro("Дата выдачи") %}
  {{ input_macro("issue", "Дата выдачи*", type="date", value=document['issue']) }}
  {% endcall %}

  {{ btn_group_macro() }}
</form>
{% endmacro %}
