{% macro file_form_macro(name, route, accept = "*", target="no-target", swap="none") %}

<form 
  class="form form-check"
  hx-post="{{ route }}"
  hx-trigger="change"
  hx-target="#{{ target }}"
  hx-swap="{{ swap }}"
  hx-encoding="multipart/form-data"
>
  <input
    class="form-control form-control-sm d-none"
    name="{{ name }}" 
    id="{{ name }}"
    type="file"
    accept="{{ accept }}"
    ref="file"
    multiple
  />
</form>
{% endmacro %}