{% macro check_tab_macro(id, checks = []) %}

{% from "elements.html" import label_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/check.html" import check_form_macro %}

{% call collapse_header_macro("checks-0") %}
{{'Добавить запись'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="checks-0">
  {{ check_form_macro(id) }}
</div>
{% if checks %}
{% for check in checks %}

<div  class="card card-body mb-3">
  <p class="fs-5 fw-medium text-primary p-1">
    {{ "Проверка кандидата ID#" + (inquiry['id']|string) }}
  </p>
  {% call label_macro("Проверка по местам работы'") %}
  {{ check['workplace'] }}
  {% endcall %}

  {% call label_macro("Проверка паспорта'") %}
  {{ check['document'] }}
  {% endcall %}

  {% call label_macro("Проверка ИНН'") %}
  {{ check['inn'] }}
  {% endcall %}

  {% call label_macro("Проверка задолженностей'") %}
  {{ check['debt'] }}
  {% endcall %}

  {% call label_macro("Проверка банкротства'") %}
  {{ check['bankruptcy'] }}
  {% endcall %}

  {% call label_macro("Проверка Кредитной истории'") %}
  {{ check['bki'] }}
  {% endcall %}

  {% call label_macro("Проверка судебных дел'") %}
  {{ check['courts'] }}
  {% endcall %}

  {% call label_macro("Проверка аффилированности'") %}
  {{ check['affilation'] }}
  {% endcall %}

  {% call label_macro("Проверка террористов'") %}
  {{ check['terrorist'] }}
  {% endcall %}

  {% call label_macro("Проверка в розыск'") %}
  {{ check['mvd'] }}
  {% endcall %}

  {% call label_macro("Проверка в открытых источниках'") %}
  {{ check['internet'] }}
  {% endcall %} 

  {% call label_macro("Проверка в Кронос'") %}
  {{ check['cronos'] }}
  {% endcall %}

  {% call label_macro("Комментарий'") %}
  {{ check['comment'] }}
  {% endcall %}
  
  {% call label_macro("Результат'") %}
  {{ check['conclusion'] }}
  {% endcall %}

  {% call label_macro("Сотрудник'") %}
  {{ check['username'] }}
  {% endcall %}

  {% call label_macro("Дата проверки'") %}
  {{ check['created'].strftime("%d.%m.%Y") }}
  {% endcall %}

  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro("checks", check['id']|string, upload=True) }}
  <div class="collapse card card-body mb-3" id={{"checks-" + check['id']|string}}>
    {{ check_form_macro(id, check) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
