{% macro education_div_macro(id, educations = [], isbusy = False) %}

{% from "elements.html.jinja" import label_macro %}
{% from "/profile/macro.html.jinja" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/education.html.jinja" import education_form_macro %}

{% if session['user']['role'] == 'user' and not isbusy %}
{% call collapse_header_macro("education-0") %}
{{'Добавить образование'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="educations-0">
  {{ education_form_macro(id|string) }}
</div>
{% endif %}

{% if educations %}
{% for education in educations %}
<div  class="card card-body mb-3">
  {% call label_macro("Тип образования") %}
  {{ education['view'] }}
  {% endcall %}

  {% call label_macro("Учебное заведение") %}
  {{ education['university'] }}
  {% endcall %}

  {% call label_macro("Год окончания") %}
  {{ education['finished'] }}
  {% endcall %}

  {% call label_macro("Специальность") %}
  {{ education['specialty'] }}
  {% endcall %}

  {% if session['user']['role'] == 'user' and not isbusy %}
  {{ action_group_macro("educations", education['id']|string) }}
  <div class="collapse card card-body mb-3" id="{{'educations-' + education['id']|string}}">
    {{ education_form_macro(id, education) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
