{% macro resume_div_macro(resume = {}) %}

{% from "elements.html" import label_macro, select_macro %}
{% from "/profile/macro.html" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/resume.html" import resume_form_macro %}

{% call label_macro("Регион") %}
<form 
  class="form form-check" 
  method="post" 
  style="padding-left: 0; width: 20%;"
  action="{{ url_for('route.change_region', person_id=resume['id']) }}"
>
  {{ select_macro("region", ["Главный офис", "РЦ Юг", "РЦ Запад", "РЦ Урал", "РЦ Восток"], required=true, value=resume['region']) }}
</form>
{% endcall %}

{% call label_macro("Фамилия") %}
{{ resume['surname'] }}
{% endcall %}

{% call label_macro("Имя") %}
{{ resume['firstname'] }}
{% endcall %}

{% call label_macro("Отчество") %}
{{ resume['patronymic'] }}
{% endcall %}

{% call label_macro("Дата рождения") %}
{{ resume['birthday'] }}
{% endcall %}

{% call label_macro("Место рождения") %}
{{ resume['birthplace'] }}
{% endcall %}

{% call label_macro("Гражданство") %}
{{ resume['citizenship'] }}
{% endcall %}

{% call label_macro("Двойное гражданство") %}
{{ resume['dual'] }}
{% endcall %}

{% call label_macro("ИНН") %}
{{ resume['inn'] }}
{% endcall %}

{% call label_macro("СНИЛС") %}
{{ resume['snils'] }}
{% endcall %}

{% call label_macro("Семейное положение") %}
{{ resume['marital'] }}
{% endcall %}

{% call label_macro("Дата записи") %}
{{ resume['created'].strftime("%d.%m.%Y") }}
{% endcall %}

{% call label_macro("Пользователь") %}
{{ resume['username'] }}
{% endcall %}

{% call label_macro("Материалы") %}
{{ resume['destination'] }}
{% endcall %}

{% call label_macro("Дополнительная информация") %}
{{ resume['addition'] }}
{% endcall %}

{% if session['user']['role'] == 'user' %}
{{ action_group_macro("persons", resume['id']|string) }}
<div class="collapse card card-body mb-3" id={{"resume-" + resume['id']|string }}>
  {{ resume_form_macro(resume, resume['id']|string) }}
</div>
{% endif %}

{% endmacro %}
