{% macro photo_card_macro(destination, id, isbusy) %}

{% from "profile/forms/file.html.jinja" import file_form_macro %}

<div 
  hx-get="{{ url_for('route.get_image', image=destination) }}" 
  hx-trigger="load"
  hx-swap="afterend"
>
  {{ file_form_macro('image', '/file/image/' + id|string, 'image/jpg, image/jpeg') }}
</div>

{% endmacro %}
