{% macro work_div_macro(id, workplaces = []) %}

{% from "elements.html.jinja" import label_macro %}
{% from "/profile/macro.html.jinja" import collapse_header_macro, action_group_macro %}
{% from "/profile/forms/workplace.html.jinja" import work_form_macro %}

{% if session['user']['role'] == 'user' %}
{% call collapse_header_macro("workplaces-0") %}
{{'Добавить работу'}}
{% endcall %}
<div class="collapse card card-body mb-3" id="workplaces-0">
  {{ work_form_macro(id) }}
</div>
{% endif %}

{% if workplaces %}
{% for workplace in workplaces %}
<div  class="card card-body mb-3">
  {% call label_macro("Текущая работа") %}
  {{ 'Да' if workplace['now_work'] else 'Нет' }}
  {% endcall %}

  {% call label_macro("Начало работы") %}
  {{ workplace['starts'] }}
  {% endcall %}

  {% call label_macro("Окончание работы") %}
  {{ workplace['finished'] if workplace['finished'] else 'По настоящее время' }}
  {% endcall %}

  {% call label_macro("Место работы") %}
  {{ workplace['workplace'] }}
  {% endcall %}

  {% call label_macro("Должность") %}
  {{ workplace['position'] }}
  {% endcall %}

  {% call label_macro("Адрес организации") %}
  {{ workplace['addresses'] }}
  {% endcall %}

  {% call label_macro("Причина увольнения") %}
  {{ 'Неизвестна' if not workplace['reason'] else workplace['reason'] }}
  {% endcall %}

  {% if session['user']['role'] == 'user' %}
  {{ action_group_macro("workplaces", workplace['id']|string)}}
  <div class="collapse card card-body mb-3" id="{{'workplaces-' + workplace['id']|string}}">
    {{ work_form_macro(id, workplace) }}
  </div>
  {% endif %}

</div>
  {% endfor %}
  {% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
  {% endif %}

{% endmacro %}
