{% extends "index.html" %}

{% from "profile/divs/anketa.html" import anketa_tab_macro %}
{% from "profile/divs/checks.html" import check_tab_macro %}
{% from "profile/divs/poligrafs.html" import poligraf_tab_macro %}
{% from "profile/divs/investigations.html" import investigation_tab_macro %}
{% from "profile/divs/inquiries.html" import inquiry_tab_macro %}
{% from "profile/divs/photo.html" import photo_card_macro %}

{% set tabs = {
  'anketa': ['Анкета', anketa_tab_macro(person['persons']['id'], person)],
  'checks': ['Проверка', check_tab_macro(person['persons']['id'], person['checks'])],
  'poligrafs': ['Полиграф', poligraf_tab_macro(person['persons']['id'], person['poligrafs'])],
  'invesigations': ['Расследования', investigation_tab_macro(person['persons']['id'], person['invesigations'])],
  'inquiries': ['Запросы', inquiry_tab_macro(person['persons']['id'], person['inquiries'])],
} %}

{% block content %}
{{ photo_card_macro(person.persons.destination, person.persons.id) }}
<div class="text-opacity-85 text-danger py-5 px-3">
  <h3>{{ person.persons.surname }} {{ person.persons.firstname }} {{ person.persons.patronymic if person.persons.patronymic }}
  </h3>
</div>

<div class="position-relative">
  <a
    class={{ 'link-danger' if person['persons']['standing'] else 'link-success' }}
    title={{ "Отключить режим проверки" if person['persons']['standing'] else "Включить режим проверки" }}
    href={{ url_for('route.get_profile', person_id=person['persons']['id'], item='self') }}
  >
    {% if person['persons']['standing'] %}
    <span class="spinner-grow text-danger" role="status"></span>
    {% else %}
    <div class="text-success fs-5"><i class="bi bi-pencil-square"></i></div>
  </a>
</div>

<nav>
  <div class="nav nav-tabs nav-justified d-print-none" role="tablist">
    {% for key, values in tabs.items() %}
    <button
      class="nav-link {{ 'active' if key == 'anketa' }}"
      data-bs-target={{'#' + key}}
      data-bs-toggle="tab"
      type="button"
      role="tab"
    >
      {{ values[0] }}
    </button>
    {% endfor %}
  </div>
</nav>
<div class="tab-content">
  {% for key, values in tabs.items() %}
  <div
    id={{key}}
    class="tab-pane fade {{ 'show active' if key   == 'anketa' }} pt-3"
    role="tabpanel"
    tabindex="0"
  >
    {{ values[1] }}
  </div>
  {% endfor %}
</div>

{% endblock %}