{% from "profile/macros/anketa.html.jinja" import anketa_tab_macro %}
{% from "profile/macros/checks.html.jinja" import check_tab_macro %}
{% from "profile/macros/poligrafs.html.jinja" import poligraf_tab_macro %}
{% from "profile/macros/investigations.html.jinja" import investigation_tab_macro %}
{% from "profile/macros/inquiries.html.jinja" import inquiry_tab_macro %}
{% from "profile/macros/photo.html.jinja" import photo_card_macro %}

{% set tabs = {
  'anketa': ['Анкета', anketa_tab_macro(person['persons']['id'], person)],
  'checks': ['Проверка', check_tab_macro(person['persons']['id'], person['checks'])],
  'poligrafs': ['Полиграф', poligraf_tab_macro(person['persons']['id'], person['poligrafs'])],
  'invesigations': ['Расследования', investigation_tab_macro(person['persons']['id'], person['invesigations'])],
  'inquiries': ['Запросы', inquiry_tab_macro(person['persons']['id'], person['inquiries'])],
} %}

{% block content %}
<div id ="photo-card" class="position-relative">
  {{ photo_card_macro(person.persons.destination, person.persons.id, person.persons.isbusy) }}
</div>

<div class="text-opacity-85 text-danger py-5 px-3">
  <h3>{{ person.persons.surname }} {{ person.persons.firstname }} {{ person.persons.patronymic if person.persons.patronymic }}
  </h3>
</div>

<div class="position-relative">
  <div class="position-absolute bottom-0 end-0">
    <button id="isbusy-btn" class="btn btn-link" onclick="switchEditable()">
      <div 
        title="{{'Отключить режим проверки' if person.persons.isbusy else 'Включить режим проверки'}}"
        class="{{'text-danger fs-4' if person.persons.isbusy else 'text-success fs-4'}}"
      >
        <i class="bi bi-pencil-square"></i>
      </div>
    </button>
  </div>
</div>

<nav>
  <div class="nav nav-tabs nav-justified d-print-none" role="tablist">
    {% for key, values in tabs.items() %}
    <button
      class="nav-link {{ 'active' if key == 'anketa' }}"
      data-bs-target="{{'#' + key}}"
      data-bs-toggle="tab"
      type="button"
      role="tab"
    >
      {{ values[0] }}
    </button>
    {% endfor %}
  </div>
</nav>
<div class="tab-content mb-3">
  {% for key, values in tabs.items() %}
  <div
    id={{key}}
    class="tab-pane fade {{ 'show active' if key   == 'anketa' }} pt-3"
    role="tabpanel"
    tabindex="0"
  >
    {{ values[1] }}
  </div>
  {% endfor %}
</div>

<script>
const isbusyBtn = document.getElementById('isbusy-btn');
const actionsDivs = document.getElementsByClassName('border-divider');
const cardBody = document.getElementById('card-body');

let isbusyStatus = isbusyBtn.children[0].classList.contains('text-success fs-4') ? false : true;

function changeAttrs() {
  isbusyStatus 
  ? cardBody.setAttribute('class', 'card-body text-center d-flex justify-content-center') 
  : cardBody.setAttribute('class', 'card-body text-center d-flex justify-content-center d-none');

  for (let i = 0; i < actionsDivs.length; i++) {
    isbusyStatus 
    ? actionsDivs[i].setAttribute('class', 'py-1 border-top border-divider') 
    : actionsDivs[i].setAttribute('class', 'py-1 border-top border-divider d-none');
  }
};

async function switchEditable() {
  if (confirm) {
    let response = await fetch("/isbusy/" + {{person['persons']['id']|string}});
    response = await response.status;
    if (response === 200) {
      isbusyStatus = !isbusyStatus;

      isbusyStatus 
      ? isbusyBtn.children[0].setAttribute('class', 'text-danger fs-4') 
      : isbusyBtn.children[0].setAttribute('class','text-success fs-4');

      isbusyBtn.children[0].setAttribute(
        'title', isbusyStatus ? 'Отключить режим проверки' : 'Включить режим проверки'
      );

      changeAttrs();
    } else {
      console.log(response.status);
    }
  }
};  

changeAttrs();
</script>

{% endblock %}