{% macro check_form_macro(check = {}) %}

{% from "macros.html" import label_macro, input_macro, textarea_macro, select_macro, btn_group_macro %}
{% set options = ["СОГЛАСОВАНО", "СОГЛАСОВАНО С КОММЕНТАРИЕМ", "ОТКАЗАНО В СОГЛАСОВАНИИ"] %}
{% set no_negative = {
    workplace: "Негатива по местам работы не обнаружено",
    document: "Среди недействительных документов не обнаружен",
    inn: "ИНН соответствует паспорту",
    debt: "Задолженности не обнаружены",
    bankruptcy: "Решений о признании банкротом не имеется",
    bki: "Кредитная история не положительная",
    courts: "Судебные дела не обнаружены",
    affilation: "Аффилированность не выявлена",
    terrorist: "В списке террористов не обнаружен",
    mvd: "В розыск не объявлен",
    internet: "В открытых источниках негатив не обнаружен",
    cronos: "В Кронос негатив не выявлен",
    comment: "Комментарии отсутствуют",
    conclusion: "СОГЛАСОВАНО"
  }
%}

<form 
  class="form form-check" 
  method="post" 
  name="check-form" 
  action="{{ url_for('route.get_item_id', item='checks', item_id=id) }}"
>
  {{ csrf_token() }}

  {% call label_macro("Проверка по местам работы") %}
  {{ textarea_macro("workplace", "Проверка по местам работы", check['workplace'] if check['workplace'] else no_negative['workplace']) }}
  {% endcall %}

  {% call label_macro("Проверка документов") %}
  {{ textarea_macro("document", "Проверка документов", check['document'] if check['document'] else no_negative['document']) }}
  {% endcall %}

  {% call label_macro("Проверка ИНН") %}
  {{ textarea_macro("inn", "Проверка ИНН", check['inn'] if check['inn'] else no_negative['inn']) }}
  {% endcall %}

  {% call label_macro("Проверка задолженностей") %}
  {{ textarea_macro("debt", "Проверка задолженностей", check['debt'] if check['debt'] else no_negative['debt']) }}
  {% endcall %}

  {% call label_macro("Проверка банкротства") %}
  {{ textarea_macro("bankruptcy", "Проверка банкротства", check['bankruptcy'] if check['bankruptcy'] else no_negative['bankruptcy']) }}
  {% endcall %}

  {% call label_macro("Проверка Кредитной истории") %}
  {{ textarea_macro("bki", "Проверка Кредитной истории", check['bki'] if check['bki'] else no_negative['bki']) }}
  {% endcall %}

  {% call label_macro("Проверка судебных дел") %}
  {{ textarea_macro("courts", "Проверка судебных дел", check['courts'] if check['courts'] else no_negative['courts']) }}
  {% endcall %}

  {% call label_macro("Проверка аффилированности") %}
  {{ textarea_macro("affilation", "Проверка аффилированности", check['affilation'] if check['affilation'] else no_negative['affilation']) }}
  {% endcall %}

  {% call label_macro("Проверка террористов") %}
  {{ textarea_macro("terrorist", "Проверка террористов", check['terrorist'] if check['terrorist'] else no_negative['terrorist']) }}
  {% endcall %}

  {% call label_macro("Проверка в розыск") %}
  {{ textarea_macro("mvd", "Проверка в розыск", check['mvd'] if check['mvd'] else no_negative['mvd']) }}
  {% endcall %}

  {% call label_macro("Проверка в открытых источниках") %}
  {{ textarea_macro("internet", "Проверка в открытых источниках", check['internet'] if check['internet'] else no_negative['internet']) }}
  {% endcall %}

  {% call label_macro("Проверка в Кронос") %}
  {{ textarea_macro("cronos", "Проверка в Кронос", check['cronos'] if check['cronos'] else no_negative['cronos']) }}
  {% endcall %}

  {% call label_macro("Комментарий") %}
  {{ textarea_macro("comment", "Комментарий", check['comment']) }}
  {% endcall %}

  {% call label_macro("Результат") %}
  {{ select_macro("conclusion", options, check['conclusion']) }}
  {% endcall %}

  {{ btn_group_macro() }}
</form>
{% endmacro %}