{% macro inquiry_macro_macro(inquiry = {}, id) %}

{% from "macros.html" import label_macro, input_macro, textarea_macro, btn_group_macro %}

<form 
  class="form form-check" 
  method="post" 
  name="inquiry-form" 
  action="{{ url_for('route.get_item_id', item='inquiries', item_id=id) }}"
>
  {{ csrf_token() }}
  {% call label_macro("Вид участия*") %}
  {{ textarea_macro("view", "Вид участия*", required=true, inquiry['info']) }}
  {% endcall %}

  {% call label_macro("Организация*") %}
  {{ textarea_macro("origins", "Инициатор*", required=true, inquiry['origins']) }}
  {% endcall %}

  {{ btn_group_macro() }}
</form>
{% endmacro %}
