{% macro investigation_macro_macro(investigation = {}) %}

{% from "macros.html" import label_macro, input_macro, textarea_macro, btn_group_macro %}

<form 
  class="form form-check" 
  method="post" 
  name="investigation-form" 
  action="{{ url_for('route.get_item_id', item='investigations', item_id=id) }}"
>
  {{ csrf_token() }}
  {% call label_macro("Тема проверки*") %}
  {{ input_macro("theme", "Тема проверки*", required=true, value=investigation['theme']) }}
  {% endcall %}

  {% call label_macro("Информация*") %}
  {{ textarea_macro("info", "Информация*", required=true, investigation['info']) }}
  {% endcall %}

  {{ btn_group_macro() }}
</form>
{% endmacro %}
