{% macro document_div_macro(id, documents = []) %}

{% from "elements.html.jinja" import label_macro %}
{% from "/profile/macro.html.jinja" import collapse_header_macro, action_group_macro %}
{% from "/profile/macros/forms/documents.html.jinja" import document_form_macro %}

{% if session['user']['role'] == 'user' %}
  {% call collapse_header_macro("documents-0") %}
    {{'Добавить документ'}}
  {% endcall %}
  <div class="collapse card card-body mb-3" id="documents-0">
    {{ document_form_macro(id) }}
  </div>
{% endif %}

{% if documents %}
  {% for document in documents %}
    <div  class="card card-body mb-3" id="{{'documents-' + document['id']|string}}">
      {% call label_macro("Тип документа") %}
        {{ document['view'] }}
      {% endcall %}

      {% call label_macro("Серия документа") %}
        {{ document['series'] }}
      {% endcall %}

      {% call label_macro("Номер документа") %}
        {{ document['digits'] }}
      {% endcall %}

      {% call label_macro("Кем выдан") %}
        {{ document['agency'] }}
      {% endcall %}

      {% call label_macro("Дата выдачи") %}
        {{ document['issue'] }}
      {% endcall %}

      {% if session['user']['role'] == 'user' %}
        {{ action_group_macro("documents", document['id']|string) }}
      {% endif %}

    </div>
  {% endfor %}

{% else %}
  <div class="text-primary mb-3">Информация не найдена</div>
{% endif %}

{% endmacro %}
