{% macro anketa_tab_macro(persons = []) %}

{% from "profile/tabs/anketa.html" import anketa_tab_macro %}
{% from "profile/tabs/check.html" import check_tab_macro %}
{% from "profile/tabs/poligraf.html" import poligraf_tab_macro %}
{% from "profile/tabs/invesigation.html" import invesigation_tab_macro %}
{% from "profile/tabs/inquiry.html" import inquiry_tab_macro %}
{% from "profile/div/photo.html" import photo_card_macro %}

{% set tabs = {
  'anketa_tab': ['Анкета', anketa_tab_macro(persons)],
  'check_tab': ['Проверка', check_tab_macro(persons['checks'])],
  'poligraf_tab': ['Полиграфия', poligraf_tab_macro(persons['poligrafs'])],
  'invesigation_tab': ['Инвестирование', invesigation_tab_macro(persons['invesigations'])],
  'inquiry_tab': ['Запрос', inquiry_tab_macro(persons['inquiries'])],
} %}

{{ photo_card_macro(person.anketa.resume.destination, person.anketa.resume.id) }}
<div class="text-opacity-85 text-danger py-5 px-3">
  <h3>{{ persons.anketa.surname }} {{ persons.anketa.firstname }} {{ persons.anketa.patronymic if persons.anketa.patronymic }}
  </h3>
</div>

<nav class="nav nav-tabs nav-justified d-print-none" role="tablist">
  {% for key, values in tabs.items() %}
  <button
    class="nav-link"
    :class="{ active: key === 'anketaTab' }"
    :data-bs-target="'#' + key"
    data-bs-toggle="tab"
    type="button"
    role="tab"
  >
    {{ values[0] }}
  </button>
  {% endfor %}
</nav>
<div class="tab-content">
  {% for key, values in tabs.items() %}
  <div
    :id="key"
    class="tab-pane show fade pt-3"
    :class="{ active: key == 'anketaTab' }"
    role="tabpanel"
  >
    {{ values[1] }}
  </div>
  {% endfor %}
</div>

{% endmacro %}