{% macro multiform(form) -%}
{% from 'bootstrap5/form.html' import render_form, render_hidden_errors %}
    {{ form.hidden_tag() }}
    {{ render_hidden_errors(form) }}
    {{ render_form(form, **kwargs) }}
{%- endmacro %}

{% macro extsearchform(form) -%}
<form id="searchExtFormId" onsubmit="return false">
    {% from 'bootstrap5/form.html' import render_form_row, render_hidden_errors %}
    {{ render_form_row([form.region, form.fullname, form.birthday, form.status, form.submit],
        form_type='inline', col_map={'region': 'col-md-2', 'fullname': 'col-md-4', 'birthday': 'col-md-2', 'status': 'col-md-2'}) }}
</form>
{%- endmacro %}