<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta http-equiv="refresh" content="600">
        {% block styles %}
        {% from 'bootstrap5/utils.html' import render_static %}
        {{ render_static('css', 'css/bootstrap.css') }}
        {% endblock %}
        <link rel="stylesheet" type="text/css" href="/templates/print.css" media="print">
    </head>
    <body>
        {% block navbar %}
        {% from 'bootstrap5/nav.html' import render_nav_item %}
        <nav class="navbar navbar-expand-lg navbar-light hidden-print">
            <div class="container py-1">
                <div class="navbar-nav mr-auto">
                    {{ render_nav_item('route.index', 'Кандидаты') }}
                    {{ render_nav_item('route.resume', 'Создать', cand_id=0) }}
                    {{ render_nav_item('route.info', 'Информация') }}
                    {{ render_nav_item('route.logout', 'Выйти') }}
                    {% if user %}
                        {{ render_nav_item('route.officer', user) }}
                    {% else %}
                        {{ render_nav_item('route.officer', 'Кабинет') }}
                    {% endif %}
                </div>
            </div>
        </nav>
        {% endblock %}
        {% block content %}
                <div class="container py-3">
                    {% from 'bootstrap5/utils.html' import render_messages %}
                    {{ render_messages(messages=None) }}
                </div>
            {% block app_content %}{% endblock %}
            {% block scripts %}
                {% from 'bootstrap5/utils.html' import render_static %}
                {{ render_static('js', 'js/bootstrap.js') }}
            {% endblock %}
        {% endblock %}
    </body>
</html>
