<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>StaffSec</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% from 'bootstrap5/utils.html' import render_static %}
        {{ render_static('css', 'css/bootstrap.css') }}
        {{ bootstrap.load_css() }}
        <link rel="stylesheet" type="text/css" href="static/css/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="static/css/user.css">
        <link rel="icon" type="image/x-icon" href="data:image/x-icon;,">
    </head>
    <body>
        <!--Контейнер блока навигации-->
        <div class="container-fluid">
            <nav class="navbar navbar-expand navbar-nav mr-auto navbar-dark bg-primary hidden-print">
                <div class="container">
                    <a class="navbar-brand" data-bs-toggle="offcanvas" role="button"  href="#StaffSec">StaffSec</a>
                    <div class="navbar-nav mr-auto collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a onclick="mainPage('/index/main/');" class="nav-link active" aria-current="page" href="#">Кандидаты</a></li>
                            <li class="nav-item">
                                <a onclick="createResume();" class="nav-link active" aria-current="page" href="#">Создать</a></li>
                            <li class="nav-item">
                                <a onclick="mainPage('/index/officer/')" class="nav-link active" aria-current="page" href="#">Кабинет</a></li>
                            <li class="nav-item">
                                <a onclick="createInfo();" class="nav-link active" aria-current="page" href="#">Информация</a></li>
                        </ul>                                
                    </div>                        
                    <div class="d-flex px-2">
                        <a onclick="userLogout()" class="nav-link active" aria-current="page" href="#">Выход</a>
                    </div>
                </div>
            </nav>
        </div>
        <!--Контейнер приложения-->
            <div class="container-fluid" id="App"></div>        
        <!--Контейнер ссылок-->
        <div class="container-fluid">
            <footer class="d-flex flex-wrap justify-content-around align-items-center py-3 my-4 border-top">
                <p><a href="/docs">OpenAPI</a></p>
                <p><a href="/admin">Admin</a></p>
                <p><a href="https://github.com/waldesem/Web-Personal-DB">GitHub</a></p>
            </footer>
        </div>
        <script type="text/javascript" src="static/js/bootstrap.bundle.js"></script>
        <script type="text/javascript" src="static/js/app.js"></script>
        <script>

            //jinja 2 and flask bootstrap scripts
            {% macro multiform(form) -%}
            {% from 'bootstrap5/form.html' import render_form, render_hidden_errors %}
                {{ form.hidden_tag() }}
                {{ render_hidden_errors(form) }}
                {{ render_form(form, **kwargs) }}
            {%- endmacro %}
            //
            {% macro extsearchform(form) -%}
            <form id="searchExtFormId" onsubmit="return false">
                {% from 'bootstrap5/form.html' import render_form_row, render_hidden_errors %}
                {{ render_form_row([form.region, form.fullname, form.birthday, form.status, form.submit],
                    form_type='inline', col_map={'region': 'col-md-2', 'fullname': 'col-md-4', 'birthday': 'col-md-2', 'status': 'col-md-2'}) }}
            </form>
            {%- endmacro %}
            
            //forms
            formLogin = `{{ multiform(form_login, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 1, 4), id='loginFormId', 
            render_kw={"onsubmit": "return false"}) }}`;          
            
            formUpload  = `{{ multiform(form_file, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='formFileId',
            render_kw={'onchange': 'submitResume("formFileId", "/upload")'}) }}`;
            
            formResume = `{{ multiform(form_resume, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='resumeFormId', 
            render_kw={"onsubmit": 'return false'}) }}`;
            
            formStaff = `{{ multiform(form_staff, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='staffFormId', 
            render_kw={"onsubmit": "return false"}) }}`;
            
            formDocument = `{{ multiform(form_document, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='documentFormId', 
            render_kw={"onsubmit": "return false"}) }}`;

            formAddress = `{{ multiform(form_address, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='addressFormId', 
            render_kw={"onsubmit": "return false"}) }}`;

            formContact = `{{ multiform(form_contact, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='contactFormId', 
            render_kw={"onsubmit": "return false"}) }}`;

            formWorkplace = `{{ multiform(form_work, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='workplaceFormId', 
            render_kw={"onsubmit": "return false"}) }}`;

            formRelation = `{{ multiform(form_relation, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='relationFormId', 
            render_kw={"onsubmit": "return false"}) }}`;
            
            formCheck = `{{ multiform(form_check, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='checkFormId', 
            render_kw={"onsubmit": "return false"}) }}`;
            
            formRegistry = `{{ multiform(form_registry, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='registryFormId', 
            render_kw={"onsubmit": "return false"}) }}`;
            
            formPoligraf = `{{ multiform(form_poligraf, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='poligrafFormId', 
            render_kw={"onsubmit": "return false"}) }}`;
            
            formInvestigation = `{{ multiform(form_investigation, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='investigationFormId', 
            render_kw={"onsubmit": "return false"}) }}`;
            
            formInquiry = `{{ multiform(form_inquiry, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('lg', 2, 10), id='inquiryFormId', 
            render_kw={"onsubmit": "return false"}) }}`;

            formInfo = `{{ multiform(form_info, extra_classes='form-check', role='form', 
            form_type='horizontal', horizontal_columns=('md', 2, 2), id='infoFormId', 
            render_kw={"onsubmit": "return false"}) }}`;

            formExtSearch = `{{ extsearchform(form_search) }}`;

        </script>
    </body>
</html>
