<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>StaffSec</title>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1">
        <!--<meta http-equiv="refresh" content="6000">-->
        <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="static/css/print.css" media="print">
        <link rel="stylesheet" type="text/css" href="static/css/user.css">
        <link rel="icon" type="image/x-icon" href="static/images/favicon.svg">
    </head>
    <body>
        <!--Контейнер блока навигации-->
        <div class="container">
            <nav class="navbar navbar-expand navbar-nav mr-auto navbar-dark bg-primary hidden-print">
                <div class="container-fluid py-1">
                    <a class="navbar-brand" href="#">StaffSec</a>
                    <div class="navbar-nav mr-auto collapse navbar-collapse" id="navbarContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a onclick="mainPage('/index/', 'alert alert-success', 'Новых анкет: ');" class="nav-link active" aria-current="page" href="#">Кандидаты</a></li>
                            <li class="nav-item">
                                <a onclick="createResume();" class="nav-link active" aria-current="page" href="#">Создать</a></li>
                            <li class="nav-item">
                                <a onclick="createInfo();" class="nav-link active" aria-current="page" href="#">Информация</a></li>
                            <li class="nav-item">
                                <a onclick="searchPage();" class="nav-link active" aria-current="page" href="#">Поиск</a></li>
                            <li class="nav-item">
                                <a onclick="mainPage('/officer/', 'alert alert-warning', 'Незавершенных кандидатов на странице: ')" class="nav-link active" aria-current="page" href="#">Кабинет</a></li>
                            <li class="nav-item">
                                <a onclick="userLogout()" class="nav-link active" aria-current="page" href="#">Выйти</a></li>
                        </ul>                                
                    </div>
                    <form class="d-flex" role="search" id="formFastSearch" onsubmit="return false;">
                        <input class="form-control me-2" type="search" placeholder="Поиск" name="fullname" aria-label="Search">
                        <button onclick="searchItem('formFastSearch', '/fastsearch/')" class="btn btn-sm btn-primary" type="submit" value="Submit">Найти</button>
                    </form>
                </div>
            </nav>
        </div>
        <!--Контейнер для сообщений приложения-->
        <div class="container py-3">
            <div id="appMessages"></div>
        </div>
        <!--Контейнер для заголовков-->
        <div class="container py-3">
            <div id="appHeaders"></div>
        </div>
        <!--Контейнер для основного содержимого-->
        <div class="container py-3">
            <div id="appContent"></div>
        </div>
        <!--Контейнер с указанием данных о разработчике)-->
        <div class="container py-5">
            <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
                <p class="col-md-4 mb-0 text-muted"><a href="https://github.com/waldesem/Web-Personal-DB">Web-Personal-DB</a></p>
            </footer>
        </div>
        <script type="text/javascript" src="static/js/index.js"></script>
        <script type="text/javascript" src="static/js/plotly-2.20.0.min.js"></script>
        <script type="text/javascript" src="static/js/bootstrap.bundle.js"></script>
    </body>
</html>
