{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block content %}
<div class="container py-5">
    <p class="h4">{{ title }}</p>
    <table class="table table-hover">
        <tr><th>Проверено кандидатов</th><th>Количество</th></tr>
        {% for decision, count in candidates %}
            <tr><td>{{ decision }}</td><td>{{ count }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="container py-1">
    <h5>Психофизиологическое обследование (ПФО)</h5>
    <table class="table table-hover">
        <tr><th>Тема</th><th>Количество</th></tr>
        {% for theme, count in poligraf %}
            <tr><td>{{ theme }}</td><td>{{ count }}</td></tr>
        {% endfor %}
    </table>
</div>
<div class="container py-3">
        {% from 'bootstrap5/form.html' import render_form , render_hidden_errors %}
        {{ form.hidden_tag() }}
        {{ render_hidden_errors(form) }}
        {{ render_form(form, role='form', form_type='horizontal', horizontal_columns=('lg', 2, 2)) }}
    </form>
</div>
{% endblock %}

