{% extends 'base.html' %}
<h1 class="title">{% block title %} Информация {% endblock %}</h1>
{% block content %}
<div class="content table">
    <div class="table">
        <table>
            <tr>
                <th style="text-align: left">Решение</th><th style="text-align: left">Итого</th>
            </tr>
            {% for decision, count in results %}
            <tr><td>{{ decision }}</td><td>{{ count }}</td></tr>
            {% endfor %}
        </table>
    </div>
    <form method="post">
        {{ form.hidden_tag() }}
        <table>
            <tr>
                <td>{{ form.year.label() }}</td><td>{{ form.year() }}</td>
                <td>{{ form.month.label() }}</td><td>{{ form.month() }}</td>
                <td>{{ form.submit.label() }}</td><td>{{ form.submit() }}</td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}

