{% extends 'base.html' %}
<h1 class="title">{% block title %} Войти в систему {% endblock %}</h1>
{% block content %}
<div class="content">
    <form action="" method="post" class="form-contact">
        {{ form.hidden_tag() }}
        <p>{{ form.username.label () }} {{ form.username() }}</p>
        <p>{{ form.password.label () }} {{ form.password() }}</p>
        <p>{{ form.remember.label() }} {{ form.remember() }}</p>
        <p>{{ form.submit() }}</p>
    </form>
</div>
{% endblock %}
