{% extends 'base.html' %}
{% block title %} Поиск {% endblock %}
{% block app_content %}
<p class="h4 py-2">Личный кабинет сотрудника {{ user }}</p>
<div class="container py-2">
    <table class="table table-lg table-responsive table-hover">
        <th style="width: 5% d-flex justify-content-center">#</th>
            <td style="width: 15% d-flex justify-content-center">Регион</td>
            <td style="width: 40% d-flex justify-content-center">Фамилия Имя Отчество</td>
            <td style="width: 15% d-flex justify-content-center">Дата рождения</td>
            <td style="width: 10% d-flex justify-content-center">Статус</td>
            <td style="width: 15% d-flex justify-content-center">Дата</td>
        {% for candidate in results %}
        <tr onclick="document.location='{{ url_for('route.profile', cand_id=candidate.id) }}';">
            <td>{{ candidate.id }}</td>
            <td>{{ candidate.region }}</td>
            <td>{{ candidate.fullname }}</td>
            <td>{{ candidate.birthday.strftime("%d.%m.%Y") }}</td>
            <td>{{ candidate.status }}</td>
            <td>{{ candidate.deadline.strftime("%d.%m.%Y") }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

