{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Психофизиологическое обследование {% endblock %}</h1>
<div class="content">
    <form method="post">
        <div class="table">
            {{ form.hidden_tag() }}
            <table style="width: 99%">
                <tr><th style="width: 15%"></th><th style="width: 85% "></th></tr>
                <tr><td>{{ form.theme.label() }}</td><td>{{ form.theme(size='100') }}</td></tr>
                <tr><td>{{ form.results.label() }}</td><td>{{ form.results(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.date_pfo.label() }}</td><td>{{ form.date_pfo() }}</td></tr>
                <tr><td>{{ form.submit.label() }}</td><td>{{ form.submit() }}</td></tr>
            </table>
        </div>
    </form>
</div>
{% endblock %}