{% extends 'base.html' %}
{% block title %}Профиль кандидата{% endblock %}
{% block app_content %}
{% from '_macro.html' import multiform %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}
<div class="container py-1">
    <p class="h4 py-1 px-1" id="header"></p>
    <ul class="nav nav-tabs hidden-print" id="myTabEvents">
        <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" type="button" data-bs-target="#profile">Профиль</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#check">Проверки</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#registr">Согласования</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#poligraf">Полиграф</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#investigate">Расследования</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#inquiry">Запросы</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#inquiry">Другое</button></li>
    </ul>
    <div class="tab-content py-3">
        <div class="tab-pane fade show active" id="profile">
            <div class="container py-2">
                <div id="resume"></div>
            </div>
            <div class="container py-2">
                <p class="h5">Должности</p>
                <div id="staffs"></div>
                <a class="btn btn-outline-primary btn-sm hidden-print" data-bs-toggle="modal" data-bs-whatever="formStaff" data-bs-target="#formModal">Добавить должность</a>
            </div>
            <div class="container py-2">
                <p class="h5 p">Документы</p>
                <div id="documents"></div>
                <a class="btn btn-outline-primary btn-sm hidden-print" data-bs-toggle="modal" data-bs-whatever="formDocument" data-bs-target="#formModal">Добавить документ</a>
            </div>
            <div class="container py-2">
                <p class="h5">Адреса</p>
                <div id="addresses"></div>
                <a class="btn btn-outline-primary btn-sm hidden-print" data-bs-toggle="modal" data-bs-whatever="formAddress" data-bs-target="#formModal">Добавить адрес</a>
            </div>
            <div class="container py-2">
                <p class="h5">Контакты</p>
                <div id="contacts"></div>
                <a class="btn btn-outline-primary btn-sm hidden-print" data-bs-toggle="modal" data-bs-whatever="formContact" data-bs-target="#formModal">Добавить контакт</a>
            </div>
            <div class="container py-2">
                <p class="h5">Работа</p>
                <div id="workplaces"></div>
                <a class="btn btn-outline-primary btn-sm hidden-print" data-bs-toggle="modal" data-bs-whatever="formWork" data-bs-target="#formModal">Добавить места работы</a>
            </div>
            <div class="container py-2">
                <p class="h5">Связи</p>
                <div id="relations"></div>
                <a class="btn btn-outline-primary btn-sm hidden-print" data-bs-toggle="modal" data-bs-whatever="formRelation" data-bs-target="#formModal">Добавить связи</a>
            </div>
            <div class="container py-2">
                <div class="btn-group" role="group" aria-label="Resume group">
                    <a onclick="buttonEvent()" class="btn btn-outline-secondary hidden-print" id="updStatus">Обновить статус</a>
                    <button type="button" class="btn btn-outline-primary hidden-print" data-bs-toggle="modal" data-bs-whatever="formResume" data-bs-target="#formModal">Редактировать анкету</button>
                    <a onclick="buttonEvent()" class="btn btn-outline-success hidden-print" id="sendResume">Отправить на проверку</a>
                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="check">           
            <a onclick="buttonEvent()" class="btn btn-outline-primary hidden-print" id="addCheck" target="_blank">Добавить проверку</a>
            <div class="accordion hidden-print py-2" id="accordionPanel">
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingLast">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLast">
                            <div id="lastCheckID"></div>                      
                        </button>
                    </h2>
                    <div id="collapseLast" class="accordion-collapse collapse show" data-bs-parent="#accordionPanel">
                        <div class="accordion-body">
                            <div id="lastCheck"></div>                      
                        </div>
                    </div>
                </div>
                <div class="btn-group py-2" role="group" aria-label="Check group" id="delEdit">
                    <a onclick="buttonEvent()" class="btn btn-outline-primary hidden-print" id="editCheck" target="_blank">Редактировать проверку</a>
                    <a onclick="buttonEvent()" class="btn btn-outline-primary btn-outline-danger hidden-print">Удалить проверку</a>
                </div>
                <div class="container py-2">
                    <a class="btn btn-outline-primary hidden-print" data-bs-toggle="modal" data-bs-whatever="formRegistry" data-bs-target="#formModal" id="openRegistry">Открыть согласование</a>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header" id="headingOther">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOther">Другие проверки
                        </button>
                    </h2>
                    <div id="collapseOther" class="accordion-collapse collapse" data-bs-parent="#accordionPanel">
                        <div class="accordion-body">
                            <div id="otherChecks"></div>                      
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="tab-pane fade" id="registr">
            <div id="registries"></div>
        </div>

        <div class="tab-pane fade" id="poligraf">
            <a class="btn btn-outline-primary hidden-print" data-bs-toggle="modal" data-bs-whatever="formPoligraf" data-bs-target="#formModal">Добавить тестирование</a>
            <div id="poligrafs"></div>
        </div>

        <div class="tab-pane fade" id="investigate">
            <a class="btn btn-outline-primary hidden-print" data-bs-toggle="modal" data-bs-whatever="formInvestigation" data-bs-target="#formModal">Добавить расследование</a>
            <div id="investigations"></div>
        </div>

        <div class="tab-pane fade" id="inquiry">
            <a class="btn btn-outline-primary hidden-print" data-bs-toggle="modal" data-bs-whatever="formInquiry" data-bs-target="#formModal">Добавить запрос</a>
            <div id="inquiries"></div>
        </div>
    </div>
</div>

<div class="container">
    <div class="modal" id="formModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
            <h4 class="modal-title">Добавить информацию</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">

            </div>
        </div>
        </div>
    </div>
</div>
<script>
    const candidate = `{{ candidate|tojson }}`;
    const staffs = `{{ staffs|tojson }}`;
    const documents = `{{ documents|tojson }}`;
    const addresses = `{{ addresses|tojson }}`;
    const relations = `{{ relations|tojson }}`;
    const workplaces = `{{ workplaces|tojson }}`;
    const contacts = `{{ contacts|tojson }}`;
    const checks = `{{ checks|tojson }}`;
    const registries = `{{ registries|tojson }}`;
    const inquiries = `{{ inquiries|tojson }}`;
    const pfos = `{{ pfos|tojson }}`;
    const invs = `{{ invs|tojson }}`;
    const stat = `{{ status|tojson }}`;
    const formResume = `{{ multiform(form) }}`;
    const formStaff = `{{ multiform(form_staff) }}`;
    const formDocument = `{{ multiform(form_document) }}`;
    const formAddress = `{{ multiform(form_address) }}`;
    const formContact = `{{ multiform(form_contact) }}`;
    const formWork = `{{ multiform(form_work) }}`;
    const formRelation = `{{ multiform(form_relation) }}`;
    const formInvestigation = `{{ multiform(form_investigation) }}`;
    const formInquiry = `{{ multiform(form_inquiry) }}`;
    const formPoligraf = `{{ multiform(form_poligraf) }}`;
    const formRegistry = `{{ multiform(form_registry) }}`;

</script>
<script src = "/static/js/usr/profile.js"></script>
{% endblock %}
