{% extends 'base.html' %}
{% block title %}Профиль кандидата{% endblock %}
{% block app_content %}
{% from '_macro.html' import render_check, input_form, input_form_reg, input_resume %}
{% from 'bootstrap5/form.html' import render_form, render_field, render_hidden_errors %}
<div class="container py-1">
    <h4>{{ candidate.fullname }}</h4>
   <div class="text-end">
        <form action="" method="post">
            <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('route.profile', forprint=forprint, cand_id=candidate.id) }}">Версия для печати</a>
        </form>
    </div>
    <ul class="nav nav-tabs" id="myTabEvents">
        <li class="nav-item"><button class="nav-link active" data-bs-toggle="tab" type="button" data-bs-target="#profile">Профиль</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#check">Проверки</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#registr">Согласования</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#poligraf">Полиграф</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#investigate">Расследования</button></li>
        <li class="nav-item"><button class="nav-link" data-bs-toggle="tab" type="button" data-bs-target="#inquiry">Запросы</button></li>
    </ul>
    <div class="tab-content py-3">
        <div class="tab-pane fade show active" id="profile">
            <table class="table py-1">
                <tr><th style="width: 30%">Должности</th><th></th></tr>
                {% if staffs %}
                    {% for staff in staffs %}
                        <tbody class="table-group-divider">
                            {% if staff %}
                                <tr><td>Должность</td><td>{{ staff.position }}</td></tr>
                                <tr><td>Департамент</td><td>{{ staff.department }}</td></tr>
                            {% endif %}
                        </tbody>
                    {% endfor %}
                {% else %}
                    <tr><td></td><td>должности не найдены</td></tr>
                {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-whatever="form_staff" data-bs-target="#formModal">Добавить должность</a></td><td></td></tr>
                {% if previous %}
                    <tr><td>Изменение имени</td><td>{{ candidate.previous }}</td></tr>
                {% endif %}
                <tbody class="table-group-divider">
                    <tr><td>Дата рождения</td><td>{{ candidate.birthday }}</td></tr>
                    <tr><td>Место рождения</td><td>{{ candidate.birthplace }}</td></tr>
                    <tr><td>Гражданство</td><td>{{ candidate.country }}</td></tr>
                </tbody>
                <tr><th>Документы</th><th></th></tr>
                {% if documents %}
                    {% for document in documents %}
                    <tbody class="table-group-divider">
                        <tr><td>Вид документа</td><td>{{ document.view }}</td></tr>
                        <tr><td>Серия</td><td>{{ document.series }}</td></tr>
                        <tr><td>Номер</td><td>{{ document.number }}</td></tr>
                        <tr><td>Кем выдан</td><td>{{ document.agency }}</td></tr>
                        <tr><td>Дата</td><td>{{ document.issue }}</td></tr>
                    </tbody>
                    {% endfor %}
                {% else %}
                    <tr><td></td><td>паспорта не найдены</td></tr>
                {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-whatever="form_document" data-bs-target="#formModal">Добавить паспорт</a></td><td></td></tr>
                <tbody class="table-group-divider">
                    <tr><td>СНИЛС</td><td>{{ candidate.snils }}</td></tr>
                    <tr><td>ИНН</td><td>{{ candidate.inn }}</td></tr>
                </tbody>
                <tr><th>Адреса</th><th></th></tr>
                {% if addresses %}
                    {% for address in addresses %}
                        <tbody class="table-group-divider">
                            <tr><td>Тип</td><td>{{ address.view }}</td></tr>
                            <tr><td>Регион</td><td>{{ address.region }}</td></tr>
                            <tr><td>Адрес</td><td>{{ address.address }}</td></tr>
                        </tbody>
                    {% endfor %}
                {% else %}
                    <tr><td></td><td>адреса не найдены</td></tr>
                {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-whatever="form_address" data-bs-target="#formModal">Добавить адрес</a></td><td></td></tr>
                <tr><th>Контакты</th><th></th></tr>
                {% if contacts %}
                    {% for contact in contacts %}
                        <tbody class="table-group-divider">
                            <tr><td>Вид</td><td>{{ contact.view }}</td></tr>
                            <tr><td>Контакт</td><td>{{ contact.contact }}</td></tr>
                        </tbody>
                    {% endfor %}
                {% else %}
                    <tr><td></td><td>контакты не найдены</td></tr>
                {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-whatever="form_contact" data-bs-target="#formModal">Добавить контакт</a></td><td></td></tr>
                <tbody class="table-group-divider">
                    <tr><td>Образование</td><td>{{ candidate.education }}</td></tr>
                </tbody>
                <tr><th>Работа</th><th></th></tr>
                {% if workplaces %}
                    {% for work in workplaces %}
                        <tbody class="table-group-divider">
                            <tr><td>Период</td><td>{{ work.period }}</td></tr>
                            <tr><td>Организация</td><td>{{ work.workplace }}</td></tr>
                            <tr><td>Адрес</td><td>{{ work.address }}</td></tr>
                            <tr><td>Должность</td><td>{{ work.position }}</td></tr>
                        </tbody>
                    {% endfor %}
                {% else %}
                    <tr><td></td><td>места работы не найдены</td></tr>
                {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-whatever="form_work" data-bs-target="#formModal">Добавить места работы</a></td><td></td></tr>
                <tr><th>Связи</th><th></th></tr>
                {% if relations %}
                    {% for relation in relations %}
                        <tbody class="table-group-divider">
                            <tr><td>Связь</td><td>{{ relation.relation }}</td></tr>
                            <tr><td>Имя</td><td>{{ relation.fullname }}</td></tr>
                            <tr><td>Дата рождения</td><td>{{ relation.birthday }}</td></tr>
                            <tr><td>Адрес</td><td>{{ relation.address }}</td></tr>
                            <tr><td>Место работы</td><td>{{ relation.workplace }}</td></tr>
                            <tr><td>Контакты</td><td>{{ relation.contact }}</td></tr>
                        </tbody>
                    {% endfor %}
                {% else %}
                    <tr><td></td><td>связи не найдены</td></tr>
                {% endif %}
                <tr><td><a class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-whatever="form_relation" data-bs-target="#formModal">Добавить связи</a></td><td></td></tr>
                <tbody class="table-group-divider">
                    <tr><td>Дополнительная информация</td><td>{{ candidate.addition }}</td></tr>
                    <tr><td>Статус</td><td>{{ candidate.status[2:] }}</td></tr>
                    <tr><td>Дата обновления</td><td>{{ candidate.deadline.strftime("%d.%m.%Y") }}</td></tr>
                </tbody>
            </table>
            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-whatever="form_resume" data-bs-target="#formModal">Редактировать анкету</a>
            <a class="btn btn-outline-secondary" href="{{ url_for('route.send_resume', cand_id=candidate.id) }}">Отправить на проверку</a>
        </div>
        <div class="tab-pane fade" id="check">
            <a class="btn btn-outline-primary" href="{{ url_for('route.check', cand_id=candidate.id, check_id=0) }}" target="_blank">Добавить проверку</a>
            {% if checks|length != 0 %} {# открываем последнюю проверку #}
                {% for check in checks[checks|length-1:] %}
                    {{ render_check(check) }}
                    {% if candidate.status == status['active'] or candidate.status == status['robot_end'] or candidate.status == status['pfo'] or candidate.status == status['cancel'] %}
                        <a class="btn btn-outline-primary" href="{{ url_for('route.check', cand_id=candidate.id, check_id=check.id) }}" target="_blank">Редактировать проверку</a>
                    {% endif %}
                    {% if candidate.status == status['result'] %}
                        <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-whatever="form_registry" data-bs-target="#formModal">Открыть согласование</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
            {# если кандидат проверялся более 1 раза, создаем список старых проверок #}
            {% if checks|length > 1 %}
                {% for check in checks[:-1] %} {# загружаем проверки все кроме последней #}
                    {{ render_check(check) }}
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="registr">
            {% if registr|length > 0 %}
                {% for reg in registr %}
                    {% if reg %}
                    <table class="table py-1">
                        <tr><th colspan="2">ID #{{ reg.id }}</th></tr>
                        <tr><td style="width: 30%">Комментарий</td><td>{{ reg.comments }}</td></tr>
                        <tr><td>Решение</td><td>{{ reg.decision }}</td></tr>
                        <tr><td>Согласующий</td><td>{{ reg.supervisor }}</td></tr>
                        <tr><td>Дата</td><td>{{ reg.deadline.strftime("%d.%m.%Y") }}</td></tr>
                    </table>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="poligraf">
            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-whatever="form_poligraf" data-bs-target="#formModal">Добавить тестирование</a>
            {% if pfos|length > 0 %}
                {% for pfo in pfos %}
                    <table class="table py-1">
                        <tr><th colspan="2">ID #{{ pfo.id }}</th></tr>
                        <tr><td style="width: 30%">Тематика</td><td>{{ pfo.theme }}</td></tr>
                        <tr><td>Результат</td><td>{{ pfo.results }}</td></tr>
                        <tr><td>Полиграфолог</td><td>{{ pfo.officer }}</td></tr>
                        <tr><td>Дата проверки</td><td>{{ pfo.deadline.strftime("%d.%m.%Y") }}</td></tr>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="investigate">
            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-whatever="form_investigation" data-bs-target="#formModal">Добавить расследование</a>
            {% if invs|length > 0 %}
                {% for inv in invs %}
                    <table class="table py-1">
                        <tr><th colspan="2">ID #{{ inv.id }}</th></tr>
                        <tr><td style="width: 30%">Тематика</td><td>{{ inv.theme }}</td></tr>
                        <tr><td>Информация</td><td>{{ inv.info }}</td></tr>
                        <tr><td>Дата проверки</td><td>{{ inv.deadline.strftime("%d.%m.%Y") }}</td></tr>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
        <div class="tab-pane fade" id="inquiry">
            <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-whatever="form_inquiry" data-bs-target="#formModal">Добавить информацию</a>
            {% if inquiries|length > 0 %}
                {% for inquiry in inquiries %}
                    <table class="table table-hover py-1">
                        <tr><th colspan="2">ID #{{ inquiry.id }}</th></tr>
                        <tr><td style="width: 30%">Информация</td><td>{{ inquiry.info }}</td></tr>
                        <tr><td>Иннициатор</td><td>{{ inquiry.initiator }}</td></tr>
                        <tr><td>Дата запроса</td><td>{{ inquiry.deadline.strftime("%d.%m.%Y") }}</td></tr>
                    </table>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container">
    <div class="modal fade" id="formModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">Добавить информацию</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
          </div>
            <div class="modal-body">

            </div>
        </div>
      </div>
    </div>
</div>
<script>
  var formModal = document.getElementById('formModal')
  formModal.addEventListener('show.bs.modal', function (event) {
    var button = event.relatedTarget
    var get_form = button.getAttribute('data-bs-whatever')
    switch (get_form) {
      case 'form_resume':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_resume(form, candidate.id) }}`
        break;
      case 'form_staff':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_staff, candidate.id, 'staff') }}`
        break;
      case 'form_document':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_document, candidate.id, 'document') }}`
        break;
      case 'form_address':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_address, candidate.id, 'address') }}`
        break;
      case 'form_contact':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_contact, candidate.id, 'contact') }}`
        break;
      case 'form_work':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_work, candidate.id, 'work') }}`
        break;
      case 'form_relation':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_relation, candidate.id, 'relation') }}`
        break;
      case 'form_investigation':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_investigation, candidate.id, 'investigation') }}`
        break;
      case 'form_inquiry':
         formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_inquiry, candidate.id, 'inquiry') }}`
        break;
      case 'form_poligraf':
        formModal.querySelector('.modal-body').innerHTML = `{{ input_form(form_poligraf, candidate.id, 'poligraf') }}`
        break;
      case 'form_registry':
        if (`{% if checks|length != 0 %}
             {% for check in checks[checks|length-1:] %}`){
             formModal.querySelector('.modal-body').innerHTML = `{{ input_form_reg(form_registry, candidate.id, checkid=check.id) }}`;
              };
            {% endfor %}
            {% endif %}
        break;
      }
  })
</script>
{% endblock %}
