{% extends 'base.html' %}

{% block content %}
<h1 class="title">{% block title %} Согласование кандидата {% endblock %}</h1>
<div class="flash">
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
</div>
<div class="content">
    <div class="table">
        <form method="post">
            {{ form.hidden_tag() }}
            <table style="width: 99%">
                <tr><th style="width: 15%"></th><th style="width: 85% "></th></tr>
                <tr><td>{{ form.marks.label() }}</td><td>{{ form.marks(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.decision.label() }}</td><td>{{ form.decision() }}</td></tr>
                <tr><td>{{ form.submit.label() }}</td><td>{{ form.submit() }}</td></tr>
            </table>
        </form>
    </div>
</div>
{% endblock %}