{% extends 'base.html' %}

{% block content %}
<h2 class="title">{% block title %} Анкета кандидата {% endblock %}</h2>
<div class="flash">
    {% for message in get_flashed_messages() %}
      {{ message }}
    {% endfor %}
</div>
<div class="content">
    <form method="post" action="{{ url_for('routes.upload') }}" enctype="multipart/form-data">
        {{ file.hidden_tag() }}
        {{ file.file() }}
        <input type="submit">
    </form>
    <div class="table">
        <form method="post">
            {{ form.hidden_tag() }}
            <table style="width: 99%">
                <tr><th style="width: 15%"></th><th style="width: 85% "></th></tr>
                <tr><td>{{ form.region.label}}</td><td>{{ form.region() }}</td></tr>
                <tr><td>{{ form.full_name.label}}</td><td>{{ form.full_name(size=100) }}</td></tr>
                <tr><td>{{ form.last_name.label() }}</td><td>{{ form.last_name(size=100) }}</td></tr>
                <tr><td>{{ form.birthday.label() }}</td><td>{{ form.birthday(size=100) }}</td></tr>
                <tr><td>{{ form.birth_place.label() }}</td><td>{{ form.birth_place(size=100) }}</td></tr>
                <tr><td>{{ form.country.label() }}</td><td>{{ form.country(size=100) }}</td></tr>
                <tr><td>{{ form.series_passport.label() }}</td><td>{{ form.series_passport(size=100) }}</td></tr>
                <tr><td>{{ form.number_passport.label() }}</td><td>{{ form.number_passport(size=100) }}</td></tr>
                <tr><td>{{ form.agency.label() }}</td><td>{{ form.agency(size=100) }}</td></tr>
                <tr><td>{{ form.date_given.label() }}</td><td>{{ form.date_given(size=100) }}</td></tr>
                <tr><td>{{ form.snils.label() }}</td><td>{{ form.snils(size=100) }}</td></tr>
                <tr><td>{{ form.inn.label() }}</td><td>{{ form.inn(size=100) }}</td></tr>
                <tr><td>{{ form.reg_address.label() }}</td><td>{{ form.reg_address(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.live_address.label() }}</td><td>{{ form.live_address(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.phone.label() }}</td><td>{{ form.phone(size=100) }}</td></tr>
                <tr><td>{{ form.email.label() }}</td><td>{{ form.email(size=100) }}</td></tr>
                <tr><td>{{ form.education.label() }}</td><td>{{ form.education(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.workplace_1.label() }}</td><td>{{ form.workplace_1(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.workplace_2.label() }}</td><td>{{ form.workplace_2(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.workplace_3.label() }}</td><td>{{ form.workplace_3(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.addition.label() }}</td><td>{{ form.addition(cols="76", rows="3") }}</td></tr>
                <tr><td>{{ form.submit() }}</td><td></td></tr>
            </table>
        </form>    
    </div>
</div>
{% endblock %}