{% extends 'base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block app_content %}
<div class="container py-2">
    <p class="h3">{{ title }}</p>
    <div class="container py-2">
        {% from 'bootstrap5/form.html' import render_form , render_hidden_errors %}
        {{ render_form(file, method='post', action=url_for('route.upload'), role='form', form_type='horizontal', horizontal_columns=('lg', 2, 10)) }}
    </div>
    <div class="container py-3">
        {{ form.hidden_tag() }}
        {{ render_hidden_errors(form) }}
        {{ render_form(form, method='post', role='form', form_type='horizontal', horizontal_columns=('lg', 2, 10)) }}
    </div>
</div>

{% endblock %}